<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Edit Zylo post</title>
  </head>
  <body>
    <h2>Edit Zylo post</h2>
    <form action="/posts/<%=post.id%>?_method=PUT" method="post">
      <div class="post">
        <h3>@<%=post.username%></h3>
        <textarea name="content" placeholder="Edit content" id="">
  <%=post.content%></textarea
        >
        <a href="http://localhost:3000/posts"
          ><button class="btn">Save</button></a
        >
      </div>
    </form>
  </body>
</html>
