<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Zylo posts</title>
  </head>
  <body>
    <h1>Zylo Post</h1>

    <!-- ____GET Request Home page____ -->
    <!-- this is the for each loop for displaying the posts on the /posts page -->
    <% for(post of posts){ %>
    <div class="post">
      <h3>@<%=post.username%></h3>
      <h5><%=post.content%></h5>
      <br><a href="http://localhost:3000/posts/<%=post.id%>">View post...</a>
    </div>
    <%}%>
    <!-- _____________________________________________________________________________ -->

    <br /><br />
    <!-- this is a button to serve CREATE POST page -->
    <a href="http://localhost:3000/posts/new"
      ><button class="btn">Create Post</button></a
    >
  </body>
</html>
