<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Create Zylo Post</title>
  </head>
  <body>
    <h3>Create Zylo Post</h3>
    <form action="/posts" method="post">
      <input
        type="text"
        name="username"
        placeholder="Username"
        id=""
      /><br /><br />
      <textarea name="content" placeholder="Write your post" id=""></textarea>
      <br /><br /><button>Submiit</button>
    </form>
  </body>
</html>
